<page [form]="form"></page>


<p> Loading:</p>
<button (click)="progress_onClick()"> Inc </button>
<progress-indicator *ngIf="loadingOption" [option]="loadingOption" ></progress-indicator>


<p>Button With Ripple</p>
<button flat class="ripple" [ripple]="true" (click)="loadComponent()">Test Ripple</button>

<p>
  <button flat class="ripple" [ripple]="true" (click)="toast_onClick(1)">Toast 1</button>
</p>

<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> -- Menu -- </p>


<ui-menu [option]="menuOption">
    <span>
        Menu
    </span>
    <div menuItem> </div>
</ui-menu>

<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>

<div style="display: flex;justify-content: center;">
    <input-field [option]="option1" style="width: 240px;">
    </input-field>
</div>


<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<div style="display: flex;justify-content: center;">
    <input-field [option]="option2" style="width: 240px;">
    </input-field>
</div>

<button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">Click me!</button>

<ng-template #menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem>Refresh</button>
    <button class="example-menu-item" cdkMenuItem>Settings</button>
    <button class="example-menu-item" cdkMenuItem>Help</button>
    <button class="example-menu-item" cdkMenuItem>Sign out</button>
  </div>
</ng-template>

<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p><p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>
<p> UI Builder Example:</p>


<diagram style="width: 100%; height: 100vh;" [option]="dataModelOption">
</diagram>
