
<!-- Toolbar Container -->
<div class="toolbar-container">
  <ng-content>

  </ng-content>
</div>

<div class="diagram-viewport" pinchZoom (onPinch)="diagram_onPinch($event)" [initialZoom]="defaultZoom" [scaleFactor]="0.002" >

  <!-- canvas for arrow -->
  <svg #svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0"
    class="diagram"
    dragDrop (event)="dragDrop_onEvent($event)">
    <g #relations data-name="relations" style="pointer-events: unset;"></g>
    Sorry, your browser does not support inline SVG.
  </svg>
  <div class="diagram-canvas" #canvas>
    <diagram-table *ngFor="let table of option.getTables" [table]="table"
      [attr.id]="table.name"
      [scale]="option.diagram.scale"
      (onTableDragging)="table_onDragging($event)"
      (onRelationDragging)="tableRelation_onDragging($event)"
      >
    </diagram-table>
  </div>
</div>
<status-bar [zoom]="option.diagram.scale" [location]="option.diagram.location" (event)="toolbar_onEvent($event)">

</status-bar>
