:host {
  position: relative;
  margin: 0px auto;
  display: block;
  width: 200px;
  height: 200px;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.determinate-label {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}

.determinate-loader {
  height: 100%;
  width: 100%;
  transform-origin: center center;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;

  circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
  }
}

.indeterminate-loader {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
