:host {
    contain: layout;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-field-value {
    flex-grow: 1;
}

.input-field-preview {
    
}

.input-field-text{
    flex-grow: 1;
    outline: none;
    font-weight: 600;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    border: none;
}

.ns-resize {
    cursor: ns-resize;
}

