<!-- https://codepen.io/aleksander351/pen/KzgKPo -->

<svg *ngIf="option.mode === 'indeterminate' ; else elseBlock" class="indeterminate-loader" viewBox="25 25 50 50" preserveAspectRatio="xMidYMid meet" focusable="false" aria-hidden="true">
  <circle class="loader-path" cx="50" cy="50" r="20" fill="none" [attr.stroke]="option.color" stroke-width="10%" />
</svg>


<!-- https://codepen.io/JMChristensen/pen/AGbeEy -->
<ng-template #elseBlock>
  <label class="determinate-label">{{ option.value$ | async }}%</label>
  <svg class="determinate-loader" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid meet" focusable="false" aria-hidden="true">
    <circle             cx="25" cy="25" r="20" fill="none" stroke-width="10%" stroke="#666"/>
    <circle #indicator  cx="25" cy="25" r="20" fill="none" stroke-width="10%" [attr.stroke]="option.color" stroke-dashoffset="0" />
  </svg>
</ng-template>

