<ng-container *ngIf="option?.state !== 'hidden'">
    <div [ngSwitch]="option.appearance">
        <ng-template *ngSwitchCase="'growing'">
            <div class="spinner-grow" [ngStyle]="{'width.px': option.size, 'height.px': option.size, 'color': option.color}" role="status">
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'bubble'">

        </ng-template>
        <ng-template [ngSwitchCase]="'separate-circle'">

        </ng-template>
        <ng-template [ngSwitchDefault]>
            <button (click)="start()">start</button>
            {{_animationState | async}}
            <div [@rotate]="'step2'" (@rotate.done)="animation_onEnd($event)" class="spinner-normal"  [ngStyle]="{'width.px': option.size, 'height.px': option.size, 'color': option.color}" role="status">
            </div>
        </ng-template>
    </div>
</ng-container>