<!-- For Menu -->
<span #menuTrigger="cdkMenuTriggerFor" class="active-bar" [cdkMenuTriggerFor]="menu"></span>

<div class="wrapper-container" cdk-overlay-origin 
    #fallbackOverlayOrigin="cdkOverlayOrigin"
    #trigger>
    
    <ng-content></ng-content>
    <span class="input-field-label" *ngIf="option && option.label && option?.appearance !== 'none'" [ngStyle]="option.labelStyle" (click)="menu_onClick()">
        {{option.label}}
    </span>
    
    <button class="input-field-menu" *ngIf="option?.menu?.trigger" (click)="menu_onClick()" [class.menu-opened]="option.menu?.trigger?.isOpen()" [dir]="option.dir">
        <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" class="menu-icon">
            <g transform="matrix(0.046875, 0, 0, 0.046875, 0, 0)">
                <circle cx="256" cy="256" r="64" data-original="#000000"/>
                <circle cx="256" cy="448" r="64" data-original="#000000"/>
                <circle cx="256" cy="64" r="64"  data-original="#000000"/>
              </g>
          </svg>
    </button>
</div>

<ng-template #menu>
    <div
        class="field-menu" cdkMenu [style.width.px]="option.menu?.width"
        [@transformPanel]="'showing'"
        (@transformPanel.done)="_panelDoneAnimatingStream.next($event.toState)"
        (keydown)="_handleKeydown($event)"
        >
        <button class="field-menu-item" cdkMenuItem>Refresh</button>
        <button class="field-menu-item" cdkMenuItem>Settings</button>
        <button class="field-menu-item" cdkMenuItem>Help</button>
        <button class="field-menu-item" cdkMenuItem>Sign out</button>
    </div>
</ng-template>

<!-- [@slideContent]="animationState"
(@slideContent.start)="animationStart = true;"
(@slideContent.done)="animationStart = false;" -->

